---
import Layout from "../layouts/Layout.astro";
import ProviderGrid from "../components/ProviderGrid.astro";
import { getSortedProviders } from "../utils/providers";
const sortedProviders = await getSortedProviders();
---

<Layout title="BGP.mom - List of VPS Providers with BGP support">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold text-base-content mb-2">VPS Providers</h1>
      <p class="text-lg text-base-content/70">
        Providers offering VPS Server with BGP support
      </p>
      <p class="text-sm text-base-content/50 mt-2">
        Found {sortedProviders.length} providers
      </p>
    </div>
    <ProviderGrid providers={sortedProviders} />
</Layout>
