---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const vpsEntries = await getCollection("vps");
const sortedPosts = vpsEntries.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<Layout title="BGP.mom - List of VPS Providers with BGP support">
  <main class="w-full py-8">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-[repeat(auto-fit,minmax(340px,calc(100%/5)))] 2xl:grid-cols-[repeat(auto-fit,minmax(340px,calc(100%/6)))] gap-8 px-4"
    >
      {
        sortedPosts.map((entry) => (
          <div class="flex justify-center h-full">
            <Card {...entry.data} />
          </div>
        ))
      }
    </div>
  </main>
</Layout>
