---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection, getEntry } from "astro:content";
const allVPS = await getCollection("vps");
console.log(allVPS);
---

<Layout>
  <h1>VPS</h1>
  <div class="grid grid-flow-col-dense md:grid-flow-col-dense">
    {allVPS.map((post) => <Card name={post.data.name} />)}
  </div>
</Layout>
