---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection, getEntry } from "astro:content";
const allVPS = await getCollection("vps");
console.log(allVPS);
---

<Layout>
  <h1>VPS</h1>
  <div class="grid gap-4 p-4 place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-[repeat(auto-fit,minmax(320px,1fr))]">
    {
      allVPS.map((post) => (
        <Card
          name={post.data.name}
          rpkiStatus={post.data.rpki ? "valid" : "invalid"}
          prefixUpdateStatus={
            post.data.prefixUpdateStatus ? "positive" : "negative"
          }
        />
      ))
    }
  </div>
</Layout>
