---
import Card from "./Card.astro";

interface Props {
  providers: any[];
}

const { providers } = Astro.props;
---

<div
  class="grid grid-cols-[repeat(auto-fill,minmax(340px,1fr))] gap-6 justify-center"
>
  {
    providers.map((entry) => (
      <div class="flex justify-center h-full">
        <Card {...entry.data} />
      </div>
    ))
  }
</div>
