---
import "../assets/app.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BGP.mom</title>
  </head>
  <body>
    <header class="navbar bg-base-300 header w-full text-white">
      <div class="mx-2 flex-1 px-2">
        <h1 class="site-title">
          <span class="text-primary">BGP.</span>
          <span class="text-white">mom</span>
          <span class="badge badge-primary text-white">v0.0.2</span>
        </h1>
      </div>
      <ul class="menu menu-horizontal">
        <!-- Navbar menu content here -->
        <li><a href="/">Home</a></li>
        <li><a href="/dedis">Dedis</a></li>
        <li><a href="/tunnels">Tunnels</a></li>
        <li><a href="/colocation">colocation</a></li>
        <li><a href="/transit">transit</a></li>
      </ul>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  /* Global styles für bessere Übersicht */
  :global(body) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  main {
    flex: 1;
    padding-top: 65px;
    width: 100%;
    max-width: 100%;
    min-height: 100dvh;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
</style>
